{% extends "index.html" %}

{% load i18n %}
{% block head_title %}{% trans "Rest Password" %}{% endblock %}

{% block content %}
<div class="container d-flex mt-5 justify-content-center">
    <div class="container mb-2 text-center mt-3">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Reset Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            <form method="POST" action="{{ action_url }}" class="container mt-5 justify-content-center text-center">
                {% csrf_token %}
          <div class="container m-3 col-6 m-auto">
                <div class="form-floating mb-3"><input type="password" name="password1" class="form-control rounded-3" id="password1" placeholder="Password" autofocus>
                    <label for="password1">Enter password</label>
                </div>
                <div class="form-floating mb-3"><input type="password" name="password2" class="form-control rounded-3" id="password2" placeholder="Confirm Password" autofocus>
                    <label for="password2">Confirm password</label>
                </div>
              {% for field in form %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              {% endfor %}
                <div class="container col-4">
                    <input class="btn btn-primary m-4 mx-0" type="submit" name="action" value="{% trans 'Reset password' %}"/>
                </div>
            </div>

            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
