{% extends "index.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div style="width:1000px; height:500px;" class="container mt-5 form-control justify-content-center text-center">
        <h1 class="mt-5">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="container password_reset d-block align-items-center justify-content-center">
            {% csrf_token %}
            <div class="container m-3 col-8 m-auto">
                <div class="form-floating mb-3"><input type="email" name="email" class="form-control rounded-3" id="email" placeholder="email" autofocus>
                    <label for="email">Enter Email</label>
                </div>
                <div class="container col-6">
                    <input class="w-100 mb-2 btn btn-lg rounded-3 btn-primary " type="submit" value="{% trans 'Reset My Password' %}" />
                </div>
            </div>
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}
