{% extends 'index.html' %}

{% block content %}
<style>
    @media (max-width: 600px) {
        .modal-dialog{
            left: 20%;
            margin-top: 40px;
            justify-items: center;
        }
        .modal-content {
            max-width: 50%;
        }
        h2{
          margin-left:-10px;
           text-align: center;
        }
    }
</style>

<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <h2 class="text-center  ms-5">Change Password</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body p-5 pt-0">
        <form method="post" class="">{% csrf_token %}
          <div class="form-floating mb-3">
            <input type="password" name="old_password" class="form-control rounded-3" id="id_old_password" placeholder="Old password" required ="true">
            <label for="id_old_password">Old password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="new_password1" class="form-control rounded-3" id="id_new_password1" placeholder="New Password" required="true">
            <label for="id_new_password1">New Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="new_password2" class="form-control rounded-3" id="id_new_password2" placeholder="Confirm Password" required="true">
            <label for="id_new_password2">Confirm Password</label>
          </div>
          {% for field in form %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          {% endfor %}
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}