{% extends 'index.html'%}
{% load static %}
{% block content %}
<style type="text/css">
 {% include 'blogPost/snippets/create_blog.css' %}
</style>

{% include 'home/header_snippets.html' %}

<section class="album bg-light">
	<div class="container mt-5 ">
		<div class="row mb-5">
			<div class="col-lg-8 offset-lg-2 mb-5">
				<h1 class="fw-bold m-4 text-center">Create Post</h1>
				<hr class="">
				<form class="create-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
					{% for fields in form %}
						{% for errors in fields.error %}
							<p class="text-center text-danger m-5">{{errors}}</p>
						{%endfor%}
					{%endfor%}
					<!-----title---->
					<div class="form-group mb-3">
						<label for="id_title"><h4>Title</h4></label>
						<input name="title" class="form-control" type="text" id="id_title" placeholder="Title" required autofocus>
					</div>

						<!-----category---->
					<div class="form-control">
						<div class="d-lg-flex col justify-content-between align-items-start">
							<div class="mb-3 border">
								<label ><h4>Category</h4></label>
								{% for cat in category_list %}
								<div class="col border m-2">
									<input name="obj" type="checkbox" class="form-check-input " value="{{cat}}" id="{{cat}}">
									<label class="form-check-label" for="{{cat}}">{{cat}}</label>
								</div>
								{%endfor%}
							</div>
							<div class="mb-3">
								<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createCat">
									Create Category
								</button>
							</div>
						</div>
					</div>

						<!-----body---->
					<div class="form-group mb-3">
						<h4>Body</h4>
						<div class="row">{{form.body}}</div>
					</div>

					<!-----image---->
					<div class="form-group image-group mb-3" >
                        <img class="img-fluid image" id="id_image_display">
						<input name="image" type="file" id="id_image_file" accept="image/*" class="form-control" onchange="readURL(this)">
					</div>

					<!-----author----->
					<div class="form-group mb-3">
						<label for="id_author"><h4>Author</h4></label>
						<section class="form-control" id="id_author">
							{{ author }}
						</section>
					</div>
					<button class="w-100 btn mb-2 btn-lg rounded-3 btn-primary mt-3" type="submit">Post</button>
				</form>
			</div>
		</div>
	</div>
</section>
	{% include 'blogPost/create_category.html' %}

	<script type="text/javascript">
		document.getElementById('id_image_group').onclick = function(event){
			document.getElementById('id_image_file').click();
		};
		function readURL(input){
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#id_image_display')
					.attr('src', e.target.result)
			};
			reader.readAsDataURL(input.files[0]);
		}
	</script>
<section style="margin-top: 20%">
	{% include 'home/footer_snippets.html' %}
</section>

{% endblock content %}