{% for message in messages %}
    <div style="background: rgba(0, 0, 0, 0.6)" class="modal modal-alert py-5 mt-5" tabindex="-2" role="dialog" id="msg">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-3 shadow">
          <div class="modal-body p-4 text-center">
              <div class="alert alert-{{message.tags}} m-2" role="alert">
                  <h3 class="mb-0">{{message.tags | title}}!</h3>
                  <h5 class="mb-0">{{message}}</h5>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="w-100 mb-2 btn btn-lg rounded-3 btn-info" data-bs-dismiss="modal" aria-label="Close" id="config-btn">OK</button>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
